<% if @new_users.any? %>
  <div class="welcome">
    Be sure to welcome <%= @new_users.map(&:name).to_sentence %>
  </div>
<% end %>

<ul>
  <% @organization.users.each do |user| %>
    <li>
      <%= user.email %>
    </li>
  <% end %>
</ul>
